
  body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  
  .welcome {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: #8c00ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
    color: #FFF; }
  
  .heading {
    font-family: "Snell Roundhand";
    font-size: 30px;
    margin-bottom: 0px;
    opacity: 0; }
  
  .sub-heading {
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: "Avenir Next";
    margin-bottom: 40px;
    opacity: 0; }
  
  .loader-wrapper {
    height: 2px;
    width: 150px;
    background: #ededed;
    border-radius: 100px;
    opacity: 0; }
  
  .loader {
    height: 2px;
    width: 150px;
    background: #FFF;
    border-radius: 100px;
    background: #00f7ff; }
  
  p {
    max-width: 500px;
    font-family: "Avenir";
    line-height: 25px;
    text-align: justify;
    opacity: 0;
    color: #585858; }
    #map {
      height: 800px;
      /* The height is 400 pixels */
      border-radius: 20px;
      width: 50%;
      /* The width is the width of the web page */
    }